In [4]:

import pandas as pd
import requests
from bs4 import BeautifulSoup

In [5]:
#Nasa Mars Mission Scrping
news_url = "https://mars.nasa.gov/news/"
news_html = requests.get(news_url)
news_soup = BeautifulSoup(news_html.text, 'html.parser')

In [9]:
# Collecting the latest news
latest_news_title = news_soup.find('div', class_ = "content_title").text.strip("\n")

'Mars Reconnaissance Orbiter Mission Status Report'

In [12]:
# Collecting the latest para
latest_news_para = news_soup.find('div', class_ = "rollover_description_inner").text.strip("\n")

In [17]:
##JPL Mars Space Images - Featured Image
Mars_picture_url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'

In [18]:
jpl_html=requests.get(Mars_picture_url)

In [19]:
jpl_soup = BeautifulSoup(jpl_html.text, 'html.parser')

In [20]:
# Retreiving the Mars Picture
Featured_image = jpl_soup.find('a', class_ = 'button fancybox')['data-fancybox-href']
Featured_image_url = "https://www.jpl.nasa.gov" + Featured_image
Featured_image_url

'https://www.jpl.nasa.gov/spaceimages/images/mediumsize/PIA14884_ip.jpg'

In [21]:
#Tweet Mars Weather 
Mars_weather_url = "https://twitter.com/marswxreport?lang=en"

weather_html = requests.get(Mars_weather_url)

Mars_Weather_Soup = BeautifulSoup(weather_html.text, 'html.parser')

In [32]:
# Retreive Mars Weather latest Tweet

Weather= Mars_Weather_Soup.find_all('div', class_="js-tweet-text-container")
for weath in Weather:
    if weath.find('p').string:
        Mars_Weather= weath.find('p').string.strip("\n")
    else:
        continue

In [33]:
Mars_Weather

'Sol 1942 (Jan 22, 2018), Sunny, high -27C/-16F, low -78C/-108F, pressure at 7.57 hPa, daylight 05:44-17:29'

In [35]:
#Mars Fact
Mars_fact_url = "https://space-facts.com/mars/"
tab = pd.read_html(Mars_fact_url)
tab = pd.DataFrame(tab[0])
tab

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                  -153 to 20 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [38]:
# Use Pandas to convert the data to a HTML table string.
table_html = tab.to_html(header = False)
table_html

'<table border="1" class="dataframe">\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.42 x 10^23 kg (10.7% Earth)</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.52 AU)</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Surface Temperature:</td>\n      <td>-153 to 20 °C</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [45]:
# Mars Hemispheres
Mars_hemis_url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
Hemis= requests.get(Mars_hemis_url)
Hemis_soup = BeautifulSoup(Hemis.text, 'html.parser')

images=Hemis_soup.find_all('div',class_='item')
hemisphere_image_url=[]

for image in images:
        
        title=image.find('h3').string.strip()
        image_url=image.find('a', class_='itemLink product-item')['href']
        image_url= 'https://astrogeology.usgs.gov'+image_url
        
        dic={'title':title,'img_url':image_url}
        hemisphere_image_url.append(dic)
    
hemisphere_image_url

[{'img_url': 'https://astrogeology.usgs.gov/search/map/Mars/Viking/cerberus_enhanced',
  'title': 'Cerberus Hemisphere Enhanced'},
 {'img_url': 'https://astrogeology.usgs.gov/search/map/Mars/Viking/schiaparelli_enhanced',
  'title': 'Schiaparelli Hemisphere Enhanced'},
 {'img_url': 'https://astrogeology.usgs.gov/search/map/Mars/Viking/syrtis_major_enhanced',
  'title': 'Syrtis Major Hemisphere Enhanced'},
 {'img_url': 'https://astrogeology.usgs.gov/search/map/Mars/Viking/valles_marineris_enhanced',
  'title': 'Valles Marineris Hemisphere Enhanced'}]